<form class="password-generator" ng-submit="generate();">
	<div class="table">
		<div class="row">
			<label>Length</label>
			<input type="text" id="numLength" value="10"/>
		</div>
		<div class="row">
			<label>Options</label>
			<div class="checkbox">
				<input type="checkbox" id="cbCapitals" checked="checked"/>
				<label for="cbCapitals">ABC</label>
				<input type="checkbox" id="cbNumbers" checked="checked"/>
				<label for="cbNumbers">123</label>
				<input type="checkbox" id="cbSymbols" checked="checked"/>
				<label for="cbSymbols">!@#</label>
			</div>
		</div>
	</div>
	<div class="button-bar">
		<input type="button" value="Close" ng-click="closePasswordGenerator($event)"/>
		<input type="submit" value="Generate"/>
	</div>
<form>